.wrapper {
	display: grid;
    grid-template-rows: auto*4;
	grid-template-columns: 60% 40%;
	text-align: center;
    grid-template-areas: 
    " info info"
    " chartnb1 chartnb1"
    " tablenb1 chartnb2"
    " tablenb2 chartnb3";
}


table {
    border: solid 2px black;
    width: 100%;
}

td {
    border: solid 1px black;
}

h3 {
    text-decoration: underline;
}
#info{
    grid-area: info;
}
#tablenb1{
    grid-area: tablenb1;
}
#tablenb2{
    grid-area: tablenb2;
}
#chartnb1{
    grid-area: chartnb1;
}
#chartnb2{
    grid-area: chartnb2;
}
#chartnb3{
    grid-area: chartnb3;
}